{% extends "base.html" %}

{% block title %}{{ sub }} | {{ span }} |{% endblock %}
{% block content %}

<h3 class="pull-right">Current time in UTC: {{ current.strftime("%H:%M") }}</h3>

{% if data.daily %}
  {% include "daily.html" %}
{% elif data.weekly %}
  {% include "weekly.html" %}
{% else %}
  <h3>This subreddit was <strong>very</strong> recently added, data will be available soon!</h3>
{% endif %}

{% endblock %}

{% block extra_js %}
<script>
  if(window.addEventListener)
    window.addEventListener('resize', drawCharts, false);
  else if(window.attachEvent)
    window.attachEvent('onresize', drawCharts);
</script>
{% endblock %}
